<h1><%= @job_posting.title %></h1>

<p><%= @job_posting.description %></p>

<p><b>Applications:</b></p>

<% @job_posting.job_applications.each do |job_application| %>
  <%= link_to job_application.user.email, company_resume_path(job_application.user.resume) %>
  <hr />
<% end %>
